@model AuthDto

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    
    <div class="mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Register</button>
    <a asp-action="Index">Back</a>
</form>