@model Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>

    <div class="mb-2">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id"></span>
    </div>
    
    <div class="mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span aria-placeholder="@Model.Name" asp-validation-for="Name"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>

    <button type="submit">Save</button>
    <a asp-action="Index">Back</a>
</form>